<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MySqlConnection" 
             connectionString="Server=localhost;UserID=root;Password=root;Database=conferencedb;Port=3306;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>