<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConferenceApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="databaseName" value="conferencedb" />
        <add key="ddlPath" value="resources/scripts/ddlScript.sql" />
        <add key="dataPath" value="resources/scripts/data.sql" />
        <add key="triggersAndProcedures" value="resources/scripts/triggersAndProcedures.sql"/>

    </appSettings>
    <connectionStrings>
        <add name="mySqlConnection" connectionString="Server=localhost;UserID=root;Password=root;Port=3306;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <ConferenceApp.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en</value>
            </setting>
        </ConferenceApp.Properties.Settings>
    </userSettings>
</configuration>